@horizonBackground: #1C1E26;
@horizonAccent: #2E303E;
@horizonText: #D5D8DA;
@horizonText2: #BBBBBB;
@horizonLavender: #B877DB;
@horizonCranberry: #E95678; 
@horizonTacao: #FAC29A;
@horizonTurquoise: #25B2BC;
@horizonRosebud: #FAB795;
@horizonApricot: #F09383;
@horizonPositive: #09F7A0;
@horizonNegative: #F43E5C;

@cmBackground: @horizonBackground;
@cmUnstyledText: @horizonText;
@cmLineNumber: @horizonText2;
@cmSelectedText: @horizonAccent;
@cmCursor: @horizonCranberry;
@cmMatchingBracketBackground: fade(#6C6F93, 50%);
@cmMatchingBracketColor: fade(#D5D8DA, 50%);
@cmMatchingBracketUnderline: fade(#6C6F93, 0%);
@cmArrows: @horizonText2;
@cmFoldMarkerColor: @horizonAccent;
@cmFoldMarkerText: fade(@horizonText, 65%);
@cmSearchResultBackground: fade(@horizonCranberry, 35%);

@cmAtom: @horizonApricot;
@cmAttribute: @horizonApricot;
@cmBracket: #f99157;
@cmBuiltin: @horizonText;
@cmComment: fade(@horizonText2, 30%);
@cmDef: @horizonTurquoise;
@cmEm: @horizonTurquoise;
@cmError: @horizonNegative;
@cmHeader: @horizonCranberry;
@cmHR: #999;
@cmKeyword: @horizonLavender;
@cmLink: @horizonApricot;
@cmMeta: @horizonTurquoise;
@cmNumber: @horizonApricot;
@cmOperator: @horizonText2;
@cmProperty: @horizonText;
@cmQualifier: @horizonRosebud;
@cmQuote: @horizonRosebud;
@cmString: @horizonTacao;
@cmString2: @horizonTacao;
@cmStrong: @horizonLavender;
@cmTag: @horizonCranberry;
@cmVariable: @horizonText;
@cmVariable2: @horizonText;
@cmVariable3: @horizonCranberry;