.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #1C1E26;
}
.editor .CodeMirror-scroll,
.editor .CodeMirror-dialog {
  color: #D5D8DA;
}
.editor .CodeMirror-gutters {
  background-color: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.editor .CodeMirror-linenumber {
  color: #D5D8DA;
}
.editor .CodeMirror-selected {
  background-color: #2E303E;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #E95379;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #E9436F;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #6C6F93 !important;
  color: #2E303E !important;
  border-bottom: 1px solid #E95678 !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #B877DB;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #D5D8DA;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #2E303E;
}
.editor .CodeMirror-foldmarker {
  border-color: #2E303E;
  background-color: #2E303E;
  color: #6C6F93;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.1);
}
.editor .cm-searching {
  background-color: rgba(165, 69, 67, 0.4);
  color: white !important;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #FAC29A;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #B877DB;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #25B2BC;
}
.editor .CodeMirror .cm-variable {
  color: #E95678;
}
.editor .CodeMirror .cm-formatting-list.cm-variable-2,
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-bracket {
  color: #FAB795;
}
.editor .CodeMirror .cm-meta {
  color: #B877DB;
}
.editor .CodeMirror .cm-comment {
  color: #2E303E;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #E95678;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #D5D8DA;
}
.editor .CodeMirror .cm-link {
  color: #F09383;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #25B2BC;
}
.editor .CodeMirror .cm-builtin {
  color: #F09383;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #B877DB;
}
.editor .CodeMirror .cm-quote {
  color: #FAB795;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #2E303E;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #B877DB;
}
.editor .CodeMirror .cm-em {
  color: #25B2BC;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #2E303E;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.1);
  color: #B877DB;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.1);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #FAB795;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(108, 111, 147, 0.1) !important;
}
